/.venv
/0206(2).mp4
/dataset
/error_state.png
/image_dataset
/key_frames
/no_camera_icon.png
/no_file_input.png
/ocr.py
/page_source.html
/processed_videos
/rag.py
/results
/result_image_0.jpg
/result_image_1.jpg
/result_image_2.jpg
/temp
/test.jpeg
/__pycache__